/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */

::-moz-selection { background: #6EDAD5; color: #fff; text-shadow: none; }
::-webkit-selection { background: #6EDAD5; color: #fff; text-shadow: none; }
::selection { background: #6EDAD5; color: #fff; text-shadow: none; }

body {
  font: normal 14px/1.25 'Futura W02',arial,sans-serif;
  margin: 0px 0px;
  padding: 0px 0px;
  text-align:left;
}

a {
  color: #cb3524;
  font-size: 0.9em;
  font-weight: bold;
  text-decoration:none;
}

  a:hover, a:focus, a:active {
    color:#333d47;
  }

b,strong {
  font-weight: bold;
}

i,em{
 font-style: oblique;
}

blockquote {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 40px;
  -webkit-margin-end: 40px;
}

hr {
  border: 1px solid #abafb3;
  clear:both;
  height:0;
  margin: 0 auto 10px 0; /*this will align it left for Mozilla*/
  text-align: left; /*this will align it for IE*/
  width: 80%;
}

h1,h2,h3,h4,h5,h6 {
 font-weight: bold;
}

h1 {
  font-size: 3rem;
  line-height: 1.25;
  /*42 px*/
}

h2 {
  font-size: 2.25rem;
  line-height: 1.25;
  /*31.5 px*/
}

h3 {
  font-size: 1.75rem;
  line-height: 1.25;
  /*24.5 px*/
}

h4 {
  font-size: 1.125rem;
  line-height: 1.222;
  /*15.75 px*/
}

h5 {
  font-size: 1.143rem;
  /*16 px*/
}

h6 {
  font-size: 1.143rem;
  /*16 px*/
}

ol {
  list-style:decimal;
}

ul {
  list-style:disc;
}

.plain-list {
  list-style-type: none;
  text-decoration:none;
}

li {
  margin-left:30px;
}

p,dl,hr,h1,h2,h3,h4,h5,h6,ol,ul,pre,table,address,fieldset {
  margin-bottom:20px;
}

.container_12 {
  margin-top: 20px;
}

#footer {
  margin-top: 3em;
}

.social-icons {
  float: none;
  margin-left: 5px;
  vertical-align: bottom;
  height: 28px;
  width: 28px;
  background-color: #fff;
}

.align_right {
text-align: right;
}


#search_container {
  text-align: right;
  margin: 0px 10px 0px 0px;
  padding-top: 10px;
}

#search_text {
  vertical-align: middle;
  padding: 0 0;
  margin: 0 0;
  height: 20px;
  position: relative;
  top: -6px;
  }

#menu_mkt {
  width: 100%;
  background-color: #ccc;
  font-size: 1em;
}

.menu_mkt_item {
  float: left;
  line-height: 30px;
  margin: 0px 0px;
  padding: 0px 20px;
  border-right: 1px solid #fff;
}

.menu_mkt_final {
  float: left;
  line-height: 30px;
  margin: 0px 0px;
  padding: 0px 20px;
}

.menu_mkt_current {
  float: left;
  line-height: 30px;
  margin: 0px 0px;
  padding: 0px 30px;
  border-right: 1px solid #fff;
  color: #fff;
  background-color: #70777e;
}

.menu_mkt_item a:link, .menu_mkt_item a:visited, .menu_mkt_item a:hover, .menu_mkt_item a:active {
  color: #83898f;
}

.menu_mkt_final a:link, .menu_mkt_final a:visited, .menu_mkt_final a:hover, .menu_mkt_final a:active {
  color: #83898f;
}

.menu_mkt_current a:link, .menu_mkt_current a:visited, .menu_mkt_current a:hover, .menu_mkt_current a:active {
  color: #fffff;
}


#menu_sort {
  width: 100%;
}

.menu_sort_header {
  float: left;
  line-height: 30px;
  margin: 0px 0px;
  padding: 0px 30px 0px 0px;
  font-size: 1.077em;
  color: #0094d4;
}

.menu_sort_item {
  float: left;
  line-height: 30px;
  margin: 0px 0px;
  padding: 0px 30px;
  border-right: 1px solid #ffffff;
  background-color: #0094d4;
}

.menu_sort_item a:link, .menu_sort_item a:visited, .menu_sort_item a:hover, .menu_sort_item a:active {
  color: #ffffff;
}

.superScript {
  color: #ff6600;
}

.placeholder {
  width: 100%;
  line-height: 100px;
  text-align: center;
  background-color: #ccc;
}

.color_orange {
  color: #ff5000;
}

/* Outer Box */
.outerContainer {
  background: #fff repeat-y left top;
  padding: 20px;
  color: #333D47;
}

.outerContainer h3 {
  margin-bottom: 0px;
}

.outerContainer h4 {
  font-size: 1.077em;
  margin-bottom: 0px;
}

.box_container {
  width: 47%;
  color: #333D47;
  background-color: #fff;
  float: left;
  margin: 0 20px 20px 0;
}

.box_content {
  padding: 10px 20px;
}

.box_content h3 {
  font-size: 1.385em;
  margin-bottom: 10px;
}

/* Inner White Box */
.innerContainer {
  padding: 20px;
  color: #333D47;
  background-color: #fff;
}

.innercontainer_pres {
  padding: 20px;
  color: #333D47;
  background-color: #fff;
}


.innercontainer h2 {
  font-family: 'Futura W02',arial,sans-serif;
  font-weight: bold;
  letter-spacing: normal;
}

.innerContainer ul {
margin: 0px 0px;
}

.innerContainer a:link, .innerContainer a:visited, .innerContainer a:hover, .innerContainer a:active, {
  font-family: 'Futura W02',arial,sans-serif;
  font-weight: bold;
  color:#CB3524;
}

/* Sort By */
.sortContainer {
  padding: 20px;
  color: #333D47;
  background-color: #fff;
  margin: 0 0;
}

.sortContainer p.header {
  font-weight: bold;
  letter-spacing: normal;
  margin: 0 0;
}

.sortContainer li.header {
  font-weight: bold;
  letter-spacing: normal;
  margin: 0 0;
}

#accordionBrand h3, #accordionOffering h3 {
  font-weight: bold;
  letter-spacing: normal;
}

#accordion_faq h3 {
  font-weight: bold;
  letter-spacing: normal;
  margin-top: 5px;
}

/* Document Listing */
.thumb {
  float: left;
  width: 80px;
  height: 80px;
  background-color: #ccc;
  color: #70777e;
  text-align: center;
  line-height: 60px;
  margin-right: 10px;
}

/* Case Home Thumbnails */
.caseThumbs {
  float: left;
  margin: 0 5px 15px 5px;
}

.caseThumbs p {
  width: 150px;
  margin: 10px 0 10px 0;
  text-align: center;
}


/* Latest Thinking Thumbnails */
.latestThumbs {
  float: left;
  margin: 0 15px 15px 0;
}

.latestThumbs p {
  width: 195px;
  margin: 10px 0 10px 0;
  text-align: center;
}

/* Case Study Hero Image */
.caseHero {
  float: right;
  line-height: 2;
  margin-left: 20px;
  margin-bottom: 150px;
  text-align:right;
}

/* Case Study Downloads */
.casedownloads {
  width: 120px;
  float: left;
  margin: 10px 10px 0px 0px;
}

.downloadIcon {
  margin: 0 0 0 5px;
}

p.videoCaption {
  width: 350px;
  margin: 0 0;
}

p.downloadCaption {
  width: 350px;
  text-align: right;
  color: #ff5000;
}

p.downloadCaption a:link, p.downloadCaption a:visited, p.downloadCaption a:hover, p.downloadCaption a:active {
  color: #ff5000;
}

/* Home Page RSS feeds */
.feedTitle, .feedTitle a {
  font: bold 1.071em 'Futura W02',arial,sans-serif;
  letter-spacing: normal;
  margin-bottom: 5px;
  color: #ff5000;
}
  .feedTitle a:hover, .feedTitle a:focus, .feedTitle a:active {
    color: #333d47;
  }

.featuredContent {
  background-color:#fff;
  padding: 10px 10px;
  border: 5px solid #CB3524;
}

.feedOuter {
  width: 290px;
  height: 175px;
  overflow: hidden;
  background: #ffffff;
  border: 5px solid #6EDAD5;
}

.feedOuterBlog {
  width: 290px;
  height: 175px;
  overflow: auto;
  background: #ffffff;
  border: 5px solid #6EDAD5;
}

.feedOuterEJ {
  width: 290px;
  height: 175px;
  overflow: hidden;
  background: url('http://myjack.jackmorton.com/media/1050486/chatter-myjack.jpg') no-repeat;
  border: 5px solid #6EDAD5;
}

.feedInner {
  padding: 10px 10px;
}

.feedInner ul {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}

.feedInner ul li{
  margin-left: 0;
  margin-bottom: 10px;
  padding-left: 0;
}

.blog a {
  color:#333D47;
  font-size: 1em;
  font-weight: normal;
}
  .blog a:hover, .blog a:focus, .blog a:active {
    color: #ff5000;
  }

/* Plain Unordered List */
ul.plain {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}

ul.plain li {
  margin-left: 0;
  padding-left: 0;
}

ul.plain a {
  color:#333D47;
}
  ul.plain a:hover, ul.plain a:focus, ul.plain a:active {
    color:#ff5000;
  }


/* Home Page Resources */
#resourceBox h3 {
  font-size: 1.231em;
  margin-bottom: 5px;
  color: #ff5000;
}

/* Home Photo thumbnails */
img.homePhoto {
  float: right;
  margin: 0 0 15px 10px;
  border: 1px solid #999;
}

/* Tiny Scrollbar */
#scrollbar1 { width: 290px; clear: both; border: none; background: #fff; border: 5px solid #96785D; /*-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;*/ }
#scrollbar1 .viewport { width: 274px; height: 270px; overflow: hidden; position: relative; margin-left: 5px;}
#scrollbar1 .overview { list-style: none; position: absolute; left: 0; top: 0; padding: 10px 10px;}
#scrollbar1 h3 {font-size: 1.2em; margin-bottom: 5px; color: #ff5000;}
#scrollbar1 h3 a:link, #scrollbar1 h3 a:visited, #scrollbar1 h3 a:hover, #scrollbar1 h3 a:active {color: #ff5000;}
#scrollbar1 .scrollbar,
#scrollbar1 .thumb .end,
#scrollbar1 .thumb { background: transparent url(http://myjack.jackmorton.com/images/bg-scrollbar.png) no-repeat; }
#scrollbar1 .scrollbar { position: relative; background-position: 0 0; float: right; width: 15px; }
#scrollbar1 .track  { background: transparent url(http://www.jackmorton.com/images/bg-scrollbar-end.png) no-repeat 0 100%; height: 100%; width:13px; position: relative; padding: 0 1px; }
#scrollbar1 .thumb { background-position: 100% 100%; height: 20px; width: 13px; cursor: pointer; overflow: hidden; position: absolute; top: 0; }
#scrollbar1 .thumb .end { background-position: 100% 0; height: 5px; width: 13px; }
#scrollbar1 .disable { display: none; }

.inactive {
  padding: .3em .6em;
  text-decoration: none;
  background-color: #333D47;
  color: #fff;
  border: 1px solid #333D47;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

a.active {
  padding: .3em .6em;
  text-decoration: none;
  background-color: #fff;
  color: #333D47 !important;
  border: 1px solid #333D47;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}


.resources a {
  font-size: 1.286em;
  color: #CB3524 !important;
}

#ctl00_ctl00_ctl00_ContentPlaceHolderDefault_cphContent_EditProfile_3_EditMyProfileLink {
  color: #CB3524 !important;
  background-color: #fff !important;
}

#profile {
  font-size: 1.143em;
  line-height:1.25em;
}

.profile-fields {
  font: bold 1.222em 'Futura W02',arial,sans-serif;
  line-height: 1.3em;
}


.case {
  margin-bottom:50px;
}

.case h4 {
  display: inline;
}

.case h3 {
 font-size:1.5em;
  margin:20px 0 10px 0;
}

.box_content a {
  color: #333d47;
}
  .box_content a:hover, .box_content a:focus, .box_content a:active {
    color: #cb3524;
  }

.box_content p a {
  color: #cb3524;
}
  .box_content p a:hover, .box_content p a:focus, .box_content p a:active {
    color: #333d47;
}


.columns {
  margin-top:15px;
 -webkit-column-count: 4;
 -moz-column-count: 4;
 column-count: 4;
 -webkit-column-gap: 10px;
 -moz-column-gap: 10px;
 column-gap: 10px;
}

.columns a {
  font-size: 1em;
  font-weight:normal;
  color: #333d47;
}
  .columns a:hover, .columns a:focus, .columns a:active {
    color: #cb3524;
}



/*=======================
Blog training
=======================*/

#blog-resources {
  float:left;
  list-style-type:none;
  margin: 0;
  padding: 0;
}

#blog-resources li {
  display: inline;
  margin: 0 0.5rem 0 0.5rem;
}

#blog-resources li a {
  background-color: #ff5000;
  color: #fff;
  font-size: 1rem;
  font-weight: normal;
  padding: 0.5rem 1rem;
}
  #blog-resources li a:hover {
    background-color: #333d47;
  }



/*=======================
Jack Awards 2015
=======================*/

.filter {
  font: bold 0.9em 'Futura W02',arial,sans-serif;
}

.jack-awards-full {
  padding: 0 0 0 0 !important;
}

.filter-title {
  margin: 1.5em 0 0.5em 0;
  clear:both;
}

.two-col-filter {
  width:50%;
  float:left;
  margin:1em 0 1em 0;
}

.jack-awards-full ul {
  font-size: 0.9em;
    list-style-type: none;
    margin: 1em 0 0 0;
    padding: 0;
}

.jack-awards-full ul li {
    display: inline-block;
  margin: 0 .3em 1em 0;
}

#awards-offices-list {
    margin-bottom: 3em;
}

.filter {
  background-color: #ffffff;
  border: 1px solid #333d47;
  -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  color: #333d47;
  cursor: pointer;
  display: block;
  margin: 0em 0 0.5em 0;
  padding: .3em .6em !important;
}

.award-hide {
  display:none !important;
}

  .filter:hover, .filter:active {
  background-color: #eee;
  }

.filter-selected {
  background-color: #333d47;
  color: #ffffff;
}
  .filter-selected:hover, .filter-selected:active {
  background-color: #333d47;
  color: #ffffff;
  cursor: default;
  }

.award_office {
  letter-spacing: -1px;
  margin: 30px 0 30px 0;
}

.award_entry {
  display: inline-block;
  float:left;
  margin: 0 25px 25px 0;
  height:350px;
  width:400px;
  vertical-align: top;
}

.award_entry-image {
  width:400px;
  height:auto;
  margin-bottom:15px;
  position: relative; }

.award_overlay {
  background:rgba(51,61,71,.75);
    text-align:center;
    padding:82.5px 0 82.5px 0;
    opacity:0;
    -webkit-transition: opacity .5s ease;
  -moz-transition: opacity .5s ease;}

.award_entry:hover .award_overlay {
               opacity:1;}

.award_case-link {
    font-weight:bold;
    color:rgba(231,232,233,1);
  font-size: 3em;
}

.award_entry p {
  margin-bottom: 0;
}

.award_entry-description {
  float:left;
  width:66%;
}

.award_project {
  color: #333d47;
  font-size:1.25em;
  letter-spacing: -1px;
  line-height:1.1;
}
  .award_project:after {
    content: "";
    display: block;
    height: 3px;
    width: 9px;
    background: #ff5000;
    margin-top: 0.75em;
  margin-bottom: 0.5em; }

.award_client {
  color: #333d47;
  font-weight: normal;
  margin-top: 2px;
}

.award_empty {
  float:right;
  width:33%;
}

#abbvie  {background: url('http://mktgimages.jackmorton.com/jackawards/myjack/chicago_abbvie_400x259.jpg');}
#axe  {background: url('http://mktgimages.jackmorton.com/jackawards/myjack/london_axe_400x259.jpg');}
#bigseventh  {background: url('http://mktgimages.jackmorton.com/jackawards/myjack/winners/jack-awards-winner_westcoast_tmobilebig7.jpg');}
#cadillac  {background: url('http://mktgimages.jackmorton.com/jackawards/myjack/winners/jack-awards-winner_detroit_cadillac.jpg');}
#capone  {background: url('http://mktgimages.jackmorton.com/jackawards/myjack/winners/jack-awards-winner_newyork_capitalone.jpg');}
#chevy-indonesia  {background: url('http://mktgimages.jackmorton.com/jackawards/myjack/winners/jack-awards-winner_london_chevy.jpg');}
#glasgow  {background: url('http://mktgimages.jackmorton.com/jackawards/myjack/winners/jack-awards-winner_london_glasgowgames.jpg');}
#intel  {background: url('http://mktgimages.jackmorton.com/jackawards/myjack/westcoast_intel_400x259.jpg');}
#isnr  {background: url('http://mktgimages.jackmorton.com/jackawards/myjack/dubai_isnr_400x259.jpg');}
#nespresso  {background: url('http://mktgimages.jackmorton.com/jackawards/myjack/winners/jack-awards-winner_london_nespresso.jpg');}
#nike  {background: url('http://mktgimages.jackmorton.com/jackawards/myjack/winners/jack-awards-winner_singapore_nike.jpg');}
#officeworks  {background: url('http://mktgimages.jackmorton.com/jackawards/myjack/winners/jack-awards-winner_australia_officeworks.jpg');}
#onlinestore  {background: url('http://mktgimages.jackmorton.com/jackawards/myjack/shanghai_microsoft_400x259.jpg');}
#piper  {background: url('http://mktgimages.jackmorton.com/jackawards/myjack/winners/jack-awards-winner_australia_piper.jpg');}
#porsche-macan-china  {background: url('http://mktgimages.jackmorton.com/jackawards/myjack/winners/jack-awards-winner_shanghai_porschemacan.jpg');}
#porsche-macan-dubai  {background: url('http://mktgimages.jackmorton.com/jackawards/myjack/dubai_porsche_macan_400x259.jpg');}
#rollsroyce  {background: url('http://mktgimages.jackmorton.com/jackawards/myjack/winners/jack-awards-winner_shanghai_rollsroyce.jpg');}
#samsung  {background: url('http://mktgimages.jackmorton.com/jackawards/myjack/london_samsung_400x259.jpg');}
#silverado  {background: url('http://mktgimages.jackmorton.com/jackawards/myjack/detroit_silverado_400x259.jpg');}
#smallsteps  {background: url('http://mktgimages.jackmorton.com/jackawards/myjack/winners/jack-awards-winner_newyork_emblemhealth.jpg');}
#sportscenter  {background: url('http://mktgimages.jackmorton.com/jackawards/myjack/winners/jack-awards-winner_newyork_espn.jpg');}
#swissre  {background: url('http://mktgimages.jackmorton.com/jackawards/myjack/hongkong_swissre_400x259.jpg');}
#telstra  {background: url('http://mktgimages.jackmorton.com/jackawards/myjack/winners/jack-awards-winner_australia_telstra.jpg');}
#tmobile  {background: url('http://mktgimages.jackmorton.com/jackawards/myjack/westcoast_tmobile_400x259.jpg');}
#toyota  {background: url('http://mktgimages.jackmorton.com/jackawards/myjack/winners/jack-awards-winner_london_toyota.jpg');}
#unicef  {background: url('http://mktgimages.jackmorton.com/jackawards/myjack/winners/jack-awards-winner_london_glasgowunicef.jpg');}
#wella  {background: url('http://mktgimages.jackmorton.com/jackawards/myjack/london_wella_400x259.jpg');}
#xist  {background: url('http://mktgimages.jackmorton.com/jackawards/myjack/exhibits_2xist_400x259.jpg');}



/*=======================
Jack Awards 2016
=======================*/

.award-entry-image {
  width: 400px;
  height: 259px;
  margin-bottom: 15px;
  position: relative;
}

.award-entry-image img, .award-entry-image p {
  position: absolute;
  left: 0;
}

.award-entry-image p {
  color:#fff;
  font-size: 3em;
  padding: 100px 0px 64.5px 50px;
}

.award-entry-image div {
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.award-entry-image .top {
  opacity:0;
}

.award-entry-image .top:hover {
  opacity:1;
}



/*=======================
Latest thinking
=======================*/

#latest_thinking {
  margin-top: 62px;
}

#latest_thinking p {
  font-size: 20px;
  line-height: 31px;
  text-align: left;
}



/*=======================
Month in the life of Jack
=======================*/

.mitloj {
  margin-left: 130px;
}

.mitloj li {
  margin-left: 0;
}
​
